<form action="/user" method="post" class="signup">
    <div class="input">
        <input type="text" name="first-name" id="first-name" />
    </div>
    <div class="input"><input type="text" name="last-name" id="last-name" /></div>
    <div class="input"><input type="text" name="user-name" id="user-name" /></div>
    <div class="input"><input type="text" name="bgg-user-name" id="bgg-user-name" /></div>
</form>